
.asasa{
  background-color: #0F4383;
  background-color: #145AB0;
  background-color: #3492E9;
}

.container {
  max-width: 100% !important;
  width: 100%;
  .loginbackground1{
    display: flex;
  background-color: white;

    .background-image-1{
      position: absolute;
      top: 100px;
      scale: 1.1;
    }
    .background-image-2{
      position: absolute;
      top: -50px;
      height: 800px;
      right: -100px;
      clip-path: inset(0 0 250px 0px);
    }
    .background-image-3{
      position: absolute;
      display: flex;
      top: 50%;
      // left: 63%;
      right: -45px;
      transform: translate(0, -50%);
      height: 80%;
      aspect-ratio: 1/1;
      overflow: hidden;
      border-radius: 50%;
      background-color: #56adff;

      img{
        object-fit: cover;
        opacity: 0.6;
      }
    }
    .background-image-4{
      position: absolute;
      width: 250px;
      top: 30px;
      left: 30px;

      img{
        object-fit: cover;
        width: 100%;
      }
    }
  }
  

  .input-holder{
    margin-bottom: 10px;
    label{
      font-weight: bold;
      color: #3492E9;
      font-size: 16px;
    }
    input{
      padding: 15px ;
      font-size: 20px ;
      height: auto;
    }
  }
  
  .main-card {
    width: 600px;
    margin-left: 300px;
    margin-bottom: 100px;

    .form-header{
      font-weight: bold;
      margin-bottom: 10px;

      .form-mainheader{
        color: #3492E9;
        font-size: 28px;
      }
      .form-subheader{
        color: #0F4383;
        font-size: 22px;
      }
    }

    
    .main-card-panel{
      width: 50%;
      height: 600px;
      border-radius: 10px;
    }

    .login-button{
      margin-top: 16px;
      button{
        width: 100%;
        background: linear-gradient(45deg, #3492E9, #145AB0, #0F4383);
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        padding: 10px;
        transition: 0.2s ease;
        font-weight: bold;
        letter-spacing: 1px;
      }
      button:hover{
        opacity: 0.8;
        background: linear-gradient(45deg, #3492E9, #3492E9, #3492E9);
      }
    }
  }

  .center-card {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
  }
  @media (max-width: 700px) { 
    .background-image-4{
      position: absolute;
      width: 180px !important;
      top: 10px !important;
      left: 10px !important;
    }
    .main-card-panel{
      height: auto !important;
    }
    #panel-01{
      display: none;
    }
    #panel-02{
      width: 100%;
    }
  }
  @media (max-width: 530px) { 
    .background-image-4{
      position: absolute;
      width: 100px !important;
    }
    .background-image-2{
      right: -250px !important;
    }

    .form-mainheader{
      font-size: 18px !important;
    }
    .form-subheader{
      font-size: 14px !important;
    }

    .input-holder{
      input{
        padding: 10px !important;
        font-size: 16px !important;
      }
    }

    .login-button{
      button{
        font-size: 16px !important;
      }
    }
    
  }
}





.qwerty{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
  z-index: 1000;
  img{
    width: 92%;
    opacity: 0.2;
  }
}

@media(max-width: 1200px){
  .background-image-3{
    display: none !important;
  }
  .main-card{
    margin: 10px !important;
      }
    .center-card {
      justify-content: center;  
    }
  }